* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  
}


body {
  width: 100%;
  background-size: cover;
  background-image: url("/images/gradient.png");
  height: 100%;
}


/* Main home button*/
.fa-house {
  color: orangered;
  margin-left: 20px;
}

.fa-house:hover {
  color: coral;
}


/* this is the main Navigation Panel used for all pages*/


.header .nav-container {
  width: 100%;
  height: 50px;
  padding: 50px 0;
  margin: 0;
  display: flex;
  align-items: center;
  background: #000000d8;  
}

/* the Nav bar buttons*/
.header .nav-bar-btns {
  display: flex;
  align-items: center;
  margin: 50% auto;
  text-align: center;
  flex-direction: center;
}

.header .nav-bar-btns li a {
  color: white;
  font-style: italic;  
}

.header .nav-bar-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}


.header .nav-bar-links li {
  transform: skew(-15deg);
  border-right: 2px solid #ed1c24;
  padding-right: 8px;
  padding-left: 12px;
}


.header .nav-bar-links li a {
  font-size: 20px;
  color: #ed1c24;
}


.header .nav-bar-links li:last-child {
  border-right: none;
}


.header .nav-bar-btns li,
.header .nav-bar-links li {
  margin-right: 16px;
  list-style: none;
}


.header .nav-bar-btns li a,
.header .nav-bar-links li a {
  text-decoration: none;
  font-weight: 700;
  
}


.header .nav-bar-btns li a:hover,
.header .nav-bar-links li a:hover {
  color: orangered;
  text-shadow: 5px 5px 5px royalblue;
}

/* this is just a main bref about myself*/


.Brief_area {
  text-align: justify;
  padding: 50px;
font-family: Arial, Helvetica, sans-serif;
}



/*this is the main footer area for each page all linked to this CSS document*/
.footer {
margin-block: center;
margin-bottom: 15px;
margin-top: 250px;
display: flex center;
text-align: center;
}

/*this is most of the images all linked together for form a uniform image paging to make it simple, responsive and decorative*/
.images {
  width: 30%;
  height: auto;
  left: 0px;
  right: 0px;
  float: left;    
  margin: 0 15px 0 0;
  border-radius: 10px;
}